@import '_mixins.scss';
@import '_variables.scss';

* {
  box-sizing: border-box;
  color: $light-bg;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

.span-highlight-color {
  @include font(none, bolder);
  color: $blue;
}

main {
  @include heightAndWidth(100vh, 100vw);
  background-color: $dark-bg;
  color: $white;
  padding: 10px;
}

main h1 {
  color: $white;
  text-align: center;
  padding: 10px;
}


/* add movie section */
.movie-adder-section {
  @include flexbox(column, none, center);
  @include heightAndWidth(100vh, none);
  background-color: $dark-bg;
}

.movie-adder-section input {
  @include heightAndWidth(7vh, 50vw);
  @include font(18px, bolder);
  @include border(none, 10px);
  background-color: $light-bg;
  color: $dark-bg;
  padding: 10px;
  margin-right: 10px;
}

.movie-adder-section input:focus {
  outline:2px solid $blue;
}

.movie-adder-section p {
  text-align: center;
}

.add-movie-input-div {
  @include flexbox(none, center, none);
  @include heightAndWidth(11vh, 100vw);
  padding: 20px;
}

.add-movie-btn {
  @include flexbox(none, center, center);
  @include heightAndWidth(5vh, 3vw);
  @include font(30px, none);
  @include border(none, 50%);
  color: $dark-bg;
  background-color: $light-bg;
  margin-top: 8px;
  padding: 10px;
}

.add-movie-btn:hover {
  @include border(2px solid $blue, none);
  background-color: $dark-bg;
  color: $blue;
  transition: .5s;
}

.invalid-input-msg {
  color: #cb4141;
}


/* movie container */
.movie-container-div {
  @include flexbox(column, center, center);
  @include heightAndWidth(20vh, 100vw);
}

.random-movie-btn {
  @include heightAndWidth(6vh, 10vw);
  @include font(2vh, bold);
  @include border(none, 10px);
  background-color: $light-bg;
  color: $dark-bg;
  padding: 10px;
  margin: 10px;
}

.random-movie-btn:hover {
  @include border(2px solid $light-bg, none);
  background-color: $dark-bg;
  color: $light-bg;
  transition: .5s;
}

.random-movie-text {
  @include heightAndWidth(none, 100vw);
  @include font(25px, none);
  text-align: center;
}

@media screen and (max-width: 768px) {
  .btn {
    display: block;
    min-width: 30vw;
  }
}