@import '_mixins.scss';
@import '_variables.scss';

* {
  box-sizing: border-box;
  color: $light-bg;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

.span-highlight-color {
  @include font(none, bolder);
  color: $blue;
}

main {
  @include heightAndWidth(100vh, 100vw);
  background-color: $dark-bg;
  color: $white;
  padding: 10px;
}

main h1 {
  color: $white;
  text-align: center;
  padding: 10px;
}


/* add movie section */
.movie-adder-section {
  @include flexbox(column, none, center);
  @include heightAndWidth(100vh, 100vw);
  background-color: $dark-bg;
}

.movie-adder-section input {
  @include heightAndWidth(7vh, 50vw);
  @include font(18px, bolder);
  @include border(none, 10px);
  background-color: $light-bg;
  color: $dark-bg;
  padding: 10px;
  margin-right: 10px;
}

.movie-adder-section input:focus {
  outline:2px solid $blue;
}

.movie-adder-section p {
  text-align: center;
}

.add-movie-input-div {
  @include flexbox(none, center, none);
  @include heightAndWidth(11vh, 100vw);
  padding: 20px;
}

.add-movie-btn {
  @include flexbox(none, center, center);
  @include heightAndWidth(5vh, 3vw);
  @include font(30px, none);
  @include border(none, 50%);
  color: $dark-bg;
  background-color: $light-bg;
  margin-top: 8px;
  padding: 10px;
}

.add-movie-btn:hover {
  @include border(2px solid $blue, none);
  background-color: $dark-bg;
  color: $blue;
  transition: .5s;
}

.movie-list-btn-div {
  @include flexbox(row, flex-end, none);
  @include heightAndWidth(5vh, 50vw);
}

.movie-list-btn {
  @include heightAndWidth(5vh, 10vw);
  @include border (none, none);
  background-color: $dark-bg;
  color: $blue;
}

.movie-list-btn:hover {
  text-decoration: underline;
}

.invalid-input-msg {
  padding: 10px;
  color: #cb4141;
}


/* movie container */
.movie-container-div {
  @include flexbox(column, center, center);
  @include heightAndWidth(20vh, 100vw);
}

.random-movie-btn {
  @include heightAndWidth(6vh, 10vw);
  @include font(2vh, bold);
  @include border(none, 10px);
  background-color: $light-bg;
  color: $dark-bg;
  padding: 10px;
  margin: 10px;
}

.random-movie-btn:hover {
  @include border(2px solid $light-bg, none);
  background-color: $dark-bg;
  color: $light-bg;
  transition: .5s;
}

.random-movie-text {
  @include heightAndWidth(none, 100vw);
  @include font(25px, none);
  text-align: center;
}


// Media queries
@media screen and (max-width: 981px) {
  .movie-adder-section p {
    @include heightAndWidth(5vh, 90vw);
  }

  .add-movie-btn {
    @include heightAndWidth(5vh, 8vw);
  }

  .movie-list-btn-div {
    @include flexbox(none, center, center);
  }

  .movie-list-btn {
    @include heightAndWidth(5vh, 30vw);
  }

  .random-movie-btn {
    @include heightAndWidth(6vh, 10vw);
    @include font(4vw, none);
    display: block;
    min-width: 30vw;
  }

  .movie-list-container {
    @include flexbox(column, center, center);
    @include heightAndWidth(100vh, 100vw);
    border: 2px solid red;
  }

  .movie-list-div {
    @include flexbox(column, none, center);
    flex-wrap: nowrap;
    @include heightAndWidth(100vh, 100vw);
    border: 2px solid yellow;
    overflow-y: hidden;
  }
}

// Movie List Component 

// .movie-list-container {
//   @include flexbox(column, center, center);
// }

.movie-list-container-top {
  @include flexbox(column, center, center);
  @include heightAndWidth(7vh, 100%);
  
}

.movie-list-component-title {
  display: inline;
}

// .search-field-input {
//   margin: 20px;
// }

.close-movie-list-btn-div {
  @include flexbox(none, flex-end, center);
  @include heightAndWidth(100%, 48%);
  margin-right: 20px;
}

.close-movie-list-btn {
  @include border(none, none);
  background-color: $dark-bg;
  color: $light-bg;
}

.close-movie-list-btn:hover {
  text-decoration: underline;
}

.movie-list-div {
  @include flexbox(none, center, center);
  @include heightAndWidth(45vh, 100vw);
  flex-wrap: wrap; 
  overflow-y: scroll;
}

.movie-article-card {
  @include flexbox(column, flex-start, center);
  @include heightAndWidth(20vh, 20vw);
  @include font(18px, bold);
  @include border(2px solid $light-bg, none);
  padding: 10px;
  margin: 10px;
  text-align: center;
  color: $blue;
}

.movie-card-top {
  @include flexbox(none, flex-end, none);
  @include heightAndWidth(5vh, 100%);
}

.remove-movie-btn {
  @include border(none, none);
  @include font(20px, bolder);
  background-color: $dark-bg;
  color: $light-bg;
  padding: 3px;
}

.remove-movie-btn:hover {
  color: #cb4141;
}

.movie-name {
  @include font(22px, bold);
  color: $blue;
  margin: 20px
}